<%= form_for @list_item, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :item_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :item_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :size, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :size, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :number_wanted, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :number_wanted, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :store_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :store_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :url, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  list_items_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
